# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# development trash
.idea/
