certifi==2018.1.18
chardet==3.0.4
DateTime==4.2
Django==2.2.22
djangorestframework==3.7.7
docopt==0.6.2
idna==2.6
influxdb==5.0.0
prompt-toolkit==1.0.15
pycryptodome==3.4.7
pyflakes==1.6.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyvim==0.0.21
pyvmomi==6.5.0.2017.5.post1
requests==2.18.4
six==1.11.0
urllib3==1.22
wcwidth==0.1.7
zope.interface==4.4.3
